.arrow-tp {
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
}
.arrow-bt {
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
/*Chrome any
Firefox any
Safari any
Opera 12.1+
IE 10+
iOS any
Android any*/
.box {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* IE 10+ */
}
.borderbox {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background: #e9effd;
}
a {
  outline: none;
}
.header {
  width: 23.5%;
  min-width: 160px;
  height: 100%;
  min-height: 400px;
  position: fixed;
  background: #2f8de5;
  text-align: center;
  color: #fff;
}
.header table {
  width: 100%;
  height: 100%;
}
.header a {
  outline: none;
  color: #fff;
}
@-webkit-keyframes logo {
  0% {
    visibility: visible;
    background-position: 0;
  }
  86% {
    background-position: -160px 0;
  }
  93% {
    background-position: -320px 0;
  }
}
@-moz-keyframes logo {
  0% {
    visibility: visible;
    background-position: 0;
  }
  86% {
    background-position: -160px 0;
  }
  93% {
    background-position: -320px 0;
  }
}
@-o-keyframes logo {
  0% {
    visibility: visible;
    background-position: 0;
  }
  86% {
    background-position: -160px 0;
  }
  93% {
    background-position: -320px 0;
  }
}
@keyframes logo {
  0% {
    visibility: visible;
    background-position: 0;
  }
  86% {
    background-position: -160px 0;
  }
  93% {
    background-position: -320px 0;
  }
}
.logo {
  width: 160px;
  height: 26px;
  display: inline-block;
  background: url(../images/logo.png) no-repeat 0 0;
  visibility: hidden;
  -webkit-animation: logo 2000ms steps(1) infinite;
  animation: logo 2000ms steps(1) infinite;
}
.logo:hover {
  -webkit-animation: logo 1000ms steps(1) infinite;
  animation: logo 1000ms steps(1) infinite;
}
.menu {
  font-size: 14px;
}
.menu a:before,
.menu a:after {
  content: '';
  width: 5px;
  height: 5px;
  margin: 0 12px;
  vertical-align: middle;
  background: #fff;
  display: inline-block;
  *display: inline;
  border-radius: 50%;
  opacity: 0;
}
.menu .active a:before,
.menu .active a:after {
  opacity: 1;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.copyright {
  height: 120px;
  line-height: 20px;
}
.copyright img {
  margin-bottom: 10px;
}
.grid-gallery {
  margin-left: 23.5%;
  padding: 20px 0 20px 25px;
}
.grid-gallery .grid {
  /* li:hover figure {
            opacity: 0.7;
        } */
}
.grid-gallery .grid li {
  width: 220px;
  float: left;
  cursor: pointer;
}
.grid-gallery .grid figure {
  padding: 15px;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.grid-gallery .grid img {
  display: block;
  width: 100%;
}
.main {
  overflow: hidden;
}
/* Slideshow style */
.slideshow {
  position: fixed;
  background: #2F8DE5;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 500;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
  transition: opacity 0.5s, visibility 0s 0.5s;
}
.slideshow-open .slideshow {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.slidePanel {
  height: 40%;
}
.slideBar {
  height: 33px;
  line-height: 33px;
  padding: 0 12%;
  color: #fff;
  background: #277FD6;
}
.codePanel {
  height: 100%;
  overflow: auto;
  padding: 0 12%;
  background: #fff;
}
.codePanel > .code-i {
  display: none;
  width: 100%;
  height: 100%;
}
.codePanel > .code-i:first-child {
  display: block;
}
.slideWrapper {
  width: 100%;
  height: 60%;
  text-align: center;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translate3d(0, 0, 150px);
  transform: translate3d(0, 0, 150px);
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}
.slideWrapper.animatable > div {
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}
.slideshow-open .slideWrapper {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
#J_preview {
  display: inline-block;
  position: relative;
  top: 50%;
}
/* Navigation */
.slideshow nav span {
  position: fixed;
  z-index: 1000;
  color: #fff;
  text-align: center;
  padding: 3%;
  cursor: pointer;
  font-size: 2.2em;
}
.slideshow nav span.nav-prev,
.slideshow nav span.nav-next {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.slideshow nav span.nav-next {
  right: 0;
}
.slideshow nav span.nav-close {
  top: 1em;
  right: 1em;
  width: 28px;
  height: 28px;
  padding: 0;
}
.slideshow nav span.nav-close:before,
.slideshow nav span.nav-close:after {
  content: '';
  display: inline-block;
  width: 28px;
  height: 1px;
  right: 0;
  top: 10px;
  position: absolute;
  background: #fff;
}
.slideshow nav span.nav-close:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
.slideshow nav span.nav-close:after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}
.tab {
  font-size: 14px;
}
.tab .tab-i {
  width: 80px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}
.tab .active {
  background: #fff;
  color: #2780d6;
}
.tab .tab-note {
  margin-left: 100px;
  display: inline-block;
  font-size: 12px;
}
.tab .tab-note > span {
  margin-left: 20px;
}
.tab .tab-note > span:first-child {
  margin-left: 0;
}
.tab .tab-oper {
  float: right;
}
.tab .tab-oper > span {
  padding: 0 15px;
  border-radius: 20px;
  font-size: 12px;
  line-height: 20px;
  display: inline-block;
  border: 1px solid #fff;
  cursor: pointer;
}
/* Info on arrow key navigation */
.info-keys {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 60px;
  font-size: 8px;
  padding-top: 20px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;
  text-align: center;
}
.info-keys:before,
.info-keys:after {
  position: absolute;
  top: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #fff;
  text-align: center;
  line-height: 14px;
  font-size: 12px;
}
/* Example media queries (reduce number of columns and change slideshow layout) */
@media screen and (max-width: 60em) {
  /* responsive columns; see "Element sizing" on http://masonry.desandro.com/options.html */
  .grid li {
    width: 33.3%;
  }
  .slideshow li {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
  }
  .slideshow li figure img {
    width: auto;
    margin: 0 auto;
    max-width: 100%;
  }
  .slideshow nav span,
  .slideshow nav span.nav-close {
    font-size: 1.8em;
    padding: 0.3em;
  }
  .info-keys {
    display: none;
  }
}
@media screen and (max-width: 35em) {
  .grid li {
    width: 50%;
  }
}
@media screen and (max-width: 24em) {
  .grid li {
    width: 100%;
  }
}
