.circle-half {
	background: #7190C7;
	padding: 45px;
  line-height: 0;
}
.circle-half span {
	display: inline-block;
	width: 60px;
	height: 60px;
	border: 20px solid;
	border-color: #ffffff #ffffff transparent transparent;
	border-radius: 50%;
	-webkit-animation: rotate 1.2s infinite linear;
	-moz-animation: rotate 1.2s infinite linear;
	-ms-animation: rotate 1.2s infinite linear;
	-o-animation: rotate 1.2s infinite linear;
}
@keyframes "rotate" {
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes rotate {
  to {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes "rotate" {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes "rotate" {
  to {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes "rotate" {
  to {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}