.wrapper {
    width: 190px;
    height: 190px;
    overflow: hidden;
    /*box-shadow: 0 0 4px red;*/
    background-color: #FFF; 
    position: relative;
}
.item-con {
    -webkit-transition: margin-left 0.6s;
}
.wrapper .item {
    -webkit-transition: all 0.4s ease-in-out;
    width: 100%;
    height: 100%;
    float: left;
    opacity: 0;
}
.wrapper .item.crt {
    opacity: 1;
}
.wrapper .operator {
    position: absolute;
    top: 44%;
    -webkit-transition: all .4s ease-in-out .1s;
    cursor: pointer;
}
.wrapper .operator .arrow {
    width: 40px;
    height: 40px;
    border-top: 1px solid #ff00d2;
    border-right: 1px solid #ff00d2;
    opacity: 0;
    -webkit-transition: all .15s ease-in-out .1s;
    -webkit-transform: rotateZ(45deg);
}
.wrapper .left {
    left: 20px;
    margin-left: -130px;
}
.wrapper .right {
    right: 20px;
    margin-right: -130px;
}
.wrapper .left .arrow {
    -webkit-transform: rotateZ(-135deg);
}
.wrapper .description {
    position: absolute;
    margin-top: 10px;
    opacity: 0;
    -webkit-transition: all .6s .3s;
}
.wrapper .description .price {
    color: #ff00d2;
    font-size: 50px;
    margin-left: -10px;
}
.wrapper .description .count {
    font-size: 24px;
    margin-top: 5px;
}

.wrapper:hover .item {
    -webkit-transform: scale(.5, .5);
}
.wrapper:hover .description {
    opacity: 1;
}
.wrapper:hover .left {
    margin-left: 0;
}
.wrapper:hover .left .arrow {
    opacity: .3;
}
.wrapper .left .arrow:hover {
    opacity: 1;
}
.wrapper:hover .right {
    margin-right: 0;
}
.wrapper:hover .right .arrow {
    opacity: .3;
}
.wrapper .right .arrow:hover {
    opacity: 1;
}